* {
    box-sizing: border-box;
}

body {
    padding: 0 30px;
    margin: 0;

    color: #F74D3E;
    background-color: #0A0A18;

    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

h1 {
    font-size: 2rem;
}

h1 a {
    color: #F74D3E;
}

h1 .blurb {
    font-size: 1rem;
}

.clock {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.clock-label {
    margin-bottom: 2rem;
    text-align: center;
    cursor: pointer;
}

.vid-container {
    text-align: center;
}

.custom-form {
    margin: 0 auto;
    width: 600px;
}
.custom-form input {
    width: 100%;
    background: none;
    color: #F74D3E;
    border: none;
    font-family: monospace;
    font-size: 1.2rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;

    padding: 2px;

    font-size: 0.8rem;
    background-color: #F74D3E;
    color: #0A0A18;
}

footer .float-right {
    float: right;
}

footer a {
    color: #0A0A18;
}
